{{ lastAnswer }}
LEARNING MODE
<div ng-if="courseData.length > currentStep">

    {{ courseData[currentStep].question }}
    <br />
    {{ courseData[currentStep].answer }}
    <ul>
        <li ng-repeat="choice in courseData[currentStep].choices"><a ng-click="answer(choice)" href="">{{ choice }}</a></li>
    </ul>

    <div pw-canvas options="{width: 250, height: 250, color: '#111'}" ng-model="lala" style="border:1px solid black;"></div>
</div>
<div ng-if="courseData.length <= currentStep">
    YOU DID IT
    <a href="#/">Back to menu</a>
</div>