<h2>{{ lastAnswer }}</h2>
LEARNING MODE
<div layout="row" layout-margin>

    <div flex ng-if="courseData.length > currentStep">

        <h1>{{ courseData[currentStep].question }}</h1>

        <h1>{{ courseData[currentStep].answer }}</h1>

        <br />
        <div flex ng-if="analyzing">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>

        <div pw-canvas options="{width: 250, height: 250, backgroundColor:'transparent'}" style="border:1px solid black;width:250px;height:250px" back-img="{{getDraw()}}"></div>

        <a ng-click="answer()" href="">HERE IS MY DRAWING</a>


        </div>
    <div flex ng-if="courseData.length <= currentStep">
        YOU DID IT
        <a href="#/">Back to menu</a>
    </div>
</div>