
{{userData.step}}
<br />
<a ng-click="resetData()" href="">RESET DATA</a>
<a ng-click="getData()" href="">GET DATA</a>
<br />
<button class="md-primary md-raised md-button md-teal-theme md-ink-ripple flex-gt-md-auto flex-100" type="button" ng-transclude="" ng-click="showAlert($event)" flex="100" flex-gt-md="auto" aria-label="Alert Dialog">
    <span class="ng-scope">
        Alert Dialog
    </span><div class="md-ripple-container"></div>
</button>
<a href="#/course/hiragana/learn">Learn Hiragana</a>
<br />
<a href="#/course/katakana/learn">Learn katakana</a>
<br />
<a href="#/course/radicals/learn">Learn Radicals</a>
<br />
<a href="#/course/N5/learn">Learn N5</a>
<br />
<a href="#/course/hiragana/test">Test Hiragana</a>
<br />
<a href="#/course/katakana/test">Test katakana</a>
<br />
<a href="#/course/hiragana/test">Test Hiragana</a>
<br />
<a href="#/course/katakana/test">Test katakana</a>
<!-- Container #4 (in wireframe) -->
<md-content flex id="content">
    <div flex="50" flex-xs="100" class="flex-xs-100 flex-50">
        <md-card class="md-cyan-theme">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with image</span>
                    <span class="md-subhead">Small</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media">
                        <img src="assets/images/dashboards/weather.jpg" alt="Card Image">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
                <button class="md-button md-cyan-theme md-ink-ripple" type="button"  aria-label="Action 1"><span class="ng-scope">Action 1</span></button>
                <button class="md-button md-cyan-theme md-ink-ripple" type="button"  aria-label="Action 2"><span class="ng-scope">Action 2</span></button>
            </md-card-actions>
        </md-card>
    </div>
    <div flex="50" flex-xs="100" class="flex-xs-100 flex-50">
        <md-card class="md-cyan-theme">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with image</span>
                    <span class="md-subhead">Small</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media">
                        <img src="assets/images/dashboards/weather.jpg" alt="Card Image">
                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
                <button class="md-button md-cyan-theme md-ink-ripple" type="button"  aria-label="Action 1"><span class="ng-scope">Action 1</span></button>
                <button class="md-button md-cyan-theme md-ink-ripple" type="button"  aria-label="Action 2"><span class="ng-scope">Action 2</span></button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>
